cached-property==1.5.1
coloredlogs==10.0
lmdb==0.98
magenta.music @ git+https://github.com/cifkao/magenta@magenta.music
museflow @ git+https://github.com/cifkao/museflow@master
mido==1.2.6
numpy==1.16.0
pandas==0.25.3
pretty-midi==0.2.8
PyYAML==5.2
scikit-learn==0.22
scipy==1.2.0
tensorboard==1.12.2
tensorflow-gpu==1.12.0
