<html>
  <head>
    <meta charset="utf-8">
    <title>Groove2Groove</title>
  </head>
  <body>
    <div class="container mt-3" style="display: none;">
      <div class="section" data-sequence-id="content">
        <h2>Content input</h2>
        <p>Pick a song to cover. The song needs to be in 4/4 and have accurate tempo information.
           <span class='after-content-loaded'>You can choose a specific section of the song by specifying the start and end time in beats (assuming the song has a uniform tempo) below. Please make sure that it starts on a downbeat.</span></p>
        <div class="row">
          <div class="input-group col-md-4 col-lg-6 mb-1 mb-md-0">
            <div class="custom-file">
               <input id="contentFile" name="contentFile" type="file" class="custom-file-input midi-input">
               <label for="contentFile" class="custom-file-label text-truncate">Choose MIDI file...</label>
            </div>
          </div>
          <div class="input-group col-sm-6 col-md-4 col-lg-3 mb-1 mb-sm-0 after-content-loaded">
            <div class="input-group-prepend">
              <label for="contentStartTime" class="input-group-text">Start beat</label>
            </div>
            <input type="number" class="form-control start-time" id="contentStartTime" name="contentStartTime" value="0" min="0" step="1">
          </div>
          <div class="input-group col-sm-6 col-md-4 col-lg-3 after-content-loaded">
            <div class="input-group-prepend">
              <label for="contentEndTime" class="input-group-text">End beat</label>
            </div>
            <input type="number" class="form-control end-time" id="contentEndTime" name="contentEndTime" min="0" step="1">
          </div>
        </div>
        <div class="card visualizer-card mt-2 after-content-loaded">
          <div class="card-header">
            <div class="d-flex flex-row">
              <div class="p-2">Instruments:</div>
              <div class="p-2 instrument-toggles">
              </div>
            </div>
          </div>
          <div class="visualizer-container">
            <svg></svg>
          </div>
          <div class="card-footer">
            <form class="form-inline mb-0">
              <button type="button" class="btn btn-primary mr-2 play-button"><span class="oi oi-media-play" title="Play" aria-hidden="true"></span> <span class="text">Play</span></button>
              <button type="button" class="btn btn-primary mr-2 save-button"><span class="oi oi-data-transfer-download" title="Save" aria-hidden="true"></span> Save</button>
              <div class="input-group ml-auto">
                <div class="input-group-prepend">
                  <label for="contentTempo" class="input-group-text">Tempo</label>
                </div>
                <input type="number" class="form-control tempo" id="contentTempo" name="contentTempo" min="20" step="any" max="300" size="4">
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="section after-content-loaded" data-sequence-id="style">
        <h2>Style input</h2>
        <p>This is the song to take the style from.
           <span class="after-style-loaded">For best results, pick an 8-bar (32-beat) section.</span></p>
        <div class="row">
          <div class="input-group col-md-4 col-lg-6 mb-1 mb-md-0">
            <div class="custom-file">
               <input id="styleFile" name="styleFile" type="file" class="custom-file-input midi-input">
               <label for="styleFile" class="custom-file-label text-truncate">Choose MIDI file...</label>
            </div>
          </div>
          <div class="input-group col-sm-6 col-md-4 col-lg-3 mb-1 mb-sm-0 after-style-loaded">
            <div class="input-group-prepend">
              <label for="styleStartTime" class="input-group-text">Start beat</label>
            </div>
            <input type="number" class="form-control start-time" id="styleStartTime" name="styleStartTime" value="0" min="0" step="1">
          </div>
          <div class="input-group col-sm-6 col-md-4 col-lg-3 after-style-loaded">
            <div class="input-group-prepend">
              <label for="styleEndTime" class="input-group-text">End beat</label>
            </div>
            <input type="number" class="form-control end-time" id="styleEndTime" name="styleEndTime" min="0" step="1">
          </div>
        </div>
        <div class="card visualizer-card mt-2 after-style-loaded">
          <div class="card-header">
            <div class="d-flex flex-row">
              <div class="p-2">Instruments:</div>
              <div class="p-2 instrument-toggles">
              </div>
            </div>
          </div>
          <div class="visualizer-container">
            <svg></svg>
          </div>
          <div class="card-footer">
            <form class="form-inline mb-0">
              <button type="button" class="btn btn-primary mr-2 play-button"><span class="oi oi-media-play" title="Play" aria-hidden="true"></span> <span class="text">Play</span></button>
              <button type="button" class="btn btn-primary mr-2 save-button"><span class="oi oi-data-transfer-download" title="Save" aria-hidden="true"></span> Save</button>
              <div class="input-group ml-auto">
                <div class="input-group-prepend">
                  <label for="styleTempo" class="input-group-text">Tempo</label>
                </div>
                <input type="number" class="form-control tempo" id="styleTempo" name="styleTempo" min="20" step="any" max="300" size="4">
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="section after-style-loaded" data-sequence-id="output">
        <h2>Output</h2>
        <form class="form-inline">
          <div class="input-group mb-1 mr-2">
            <div class="input-group-prepend">
              <div class="input-group-text">
                Model
              </div>
            </div>
            <select class="form-control" id="modelName" name="modelName">
              {% for model_name, model_cfg in config.MODELS.items() %}
              <option value="{{ model_name }}">{{ model_cfg['label'] }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="input-group mb-1 mr-2">
            <div class="input-group-prepend">
              <button type="button" class="btn btn-primary generate-button"><span class="oi oi-cog" title="Generate" aria-hidden="true"></span> Generate</button>
            </div>
            <div class="input-group-prepend input-group-append">
              <div class="input-group-text">
                <input type="checkbox" id="samplingCheckbox" name="samplingCheckbox" checked>
                <label for="samplingCheckbox" class="ml-1 mb-0">Sample with temperature:</label>
              </div>
            </div>
            <input type="number" class="form-control" id="samplingTemperature" name="samplingTemperature" value="0.6" min="0.0" step="0.1" style="max-width: 4.5em">
          </div>
        </form>
        <div class="card visualizer-card mt-2 after-output-loaded">
          <div class="card-header">
            <div class="d-flex flex-row">
              <div class="p-2">Instruments:</div>
              <div class="p-2 instrument-toggles"></div>
            </div>
          </div>
          <div class="visualizer-container">
            <svg></svg>
          </div>
          <div class="card-footer">
            <form class="form-inline mb-0">
              <button type="button" class="btn btn-primary mr-2 play-button"><span class="oi oi-media-play" title="Play" aria-hidden="true"></span> <span class="text">Play</span></button>
              <button type="button" class="btn btn-primary mr-2 save-button"><span class="oi oi-data-transfer-download" title="Save" aria-hidden="true"></span> Save</button>
              <div class="input-group ml-auto">
                <div class="input-group-prepend">
                  <label for="outputTempo" class="input-group-text">Tempo</label>
                </div>
                <input type="number" class="form-control tempo" id="outputTempo" name="outputTempo" min="20" step="any" max="300" size="4">
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="section after-output-loaded" data-sequence-id="remix">
        <h2>Remix</h2>
        <p>Now add some of the original tracks (e.g.&nbsp;melody) and listen to the mix!</p>
        <div class="card visualizer-card mt-2 after-output-loaded">
          <div class="card-header">
            <div class="d-flex flex-row">
              <div class="p-2">Output:</div>
              <div class="p-2 instrument-toggles" id="remixOutputToggles"></div>
            </div>
            <div class="d-flex flex-row">
              <div class="p-2">Content:</div>
              <div class="p-2 instrument-toggles" id="remixContentToggles"></div>
            </div>
          </div>
          <div class="visualizer-container">
            <svg></svg>
          </div>
          <div class="card-footer">
            <form class="form-inline mb-0">
              <button type="button" class="btn btn-primary mr-2 play-button"><span class="oi oi-media-play" title="Play" aria-hidden="true"></span> <span class="text">Play</span></button>
              <button type="button" class="btn btn-primary mr-2 save-button"><span class="oi oi-data-transfer-download" title="Save" aria-hidden="true"></span> Save</button>
              <div class="input-group ml-auto">
                <div class="input-group-prepend">
                  <label for="remixTempo" class="input-group-text">Tempo</label>
                </div>
                <input type="number" class="form-control tempo" id="remixTempo" name="remixTempo" min="20" step="any" max="300" size="4">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="modal" id="loadingModal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false" style="display: none;">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-body text-center">
            <span class="spinner-border spinner-border-sm text-primary mr-2" role="status"></span><span class="loading-text text-primary">Loading&hellip;</span>
          </div>
        </div>
      </div>
    </div>

    <script src="{{ url_for('static', filename='bundle.js') }}"></script>
  </body>
</html>
