cached-property==1.5.1
coloredlogs==10.0
confugue==0.1.1
lmdb==0.98
note-seq==0.0.1
museflow[nogpu]==1.0.0
mido==1.2.6
numpy==1.18.0
pandas==0.25.3
pretty-midi==0.2.8
PyYAML==5.2
tensorflow==1.12.0
tqdm==4.41.1

Flask==1.1.2
Flask-Cors==3.0.9
Flask-Limiter==1.4
gunicorn==20.0.4
redis==3.5.3
Werkzeug==1.0.1
